# The file contains all essential packages needed for starting the project. There is no packaged required in tests or sub-libraries.
matplotlib==3.3.3
numpy==1.19.4
opencv-python==4.4.0.46
Pillow==9.0.0
scikit-image==0.18.1
tensorflow==2.3.1
Unidecode==1.1.2
wxPython==4.0.7
