.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 6px 24px;
    border: 1px solid #944607;
    border-radius: 3px;
    background: #d9831a;
    background: -webkit-gradient(linear, left top, left bottom, from(#d9831a), to(#8f5713));
    background: -moz-linear-gradient(top, #d9831a, #8f5713);
    background: linear-gradient(to bottom, #d9831a, #8f5713);
    text-shadow: #5d2c05 1px 1px 1px;
    font: normal normal bold 16px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid ##b95809;
    background: #ff9d1f;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff9d1f), to(#ac6817));
    background: -moz-linear-gradient(top, #ff9d1f, #ac6817);
    background: linear-gradient(to bottom, #ff9d1f, #ac6817);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #824f10;
    background: -webkit-gradient(linear, left top, left bottom, from(#824f10), to(#8f5713));
    background: -moz-linear-gradient(top, #824f10, #8f5713);
    background: linear-gradient(to bottom, #824f10, #8f5713);
}
