.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 6px 10px;
    border: 1px solid #81a58d;
    border-radius: 5px;
    background: #81a58d;
    background: -webkit-gradient(linear, left top, left bottom, from(#81a58d), to(#44614d));
    background: -moz-linear-gradient(top, #81a58d, #44614d);
    background: linear-gradient(to bottom, #81a58d, #44614d);
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 14px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #94bea2;
    background: #9bc6a9;
    background: -webkit-gradient(linear, left top, left bottom, from(#9bc6a9), to(#52745c));
    background: -moz-linear-gradient(top, #9bc6a9, #52745c);
    background: linear-gradient(to bottom, #9bc6a9, #52745c);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #4d6355;
    background: -webkit-gradient(linear, left top, left bottom, from(#4d6355), to(#44614d));
    background: -moz-linear-gradient(top, #4d6355, #44614d);
    background: linear-gradient(to bottom, #4d6355, #44614d);
}
