# .coveragerc to control coverage.py
[run]
branch = True
omit =
    *site-packages*
    tests/*
    *__init__*
    src/synthesis/pix2pix.py
    src/image_processing/threshold.py
    src\graphical_interface\create_text_with_font_static_different_widths.py
    src\graphical_interface\create_text_with_font_static.py
    src\graphical_interface\graphical-interface.py
    src\recognition\postproduce_boxes.py
    src\image_processing\preproduce_dataset.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    test
    draw_graph
    produce
    extract
    correct
    resize_directory
    combine_directory
    line_length == 1


    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

#ignore_errors = True

[html]
directory = tests/report